@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
  color: #ffffff;
  min-width: 1440px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 165px;
}

.header {
  background-color: #080f27;
  padding: 30px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  transition: opacity 0.3s;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.header .nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .nav-list-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 21px;
  margin-right: 30px;
  transition: color 0.2s, opacity 0.3s;
}

.header .nav-list-link:hover {
  color: #7f9ff4;
}

.header .nav-list-link:active {
  opacity: 0.7;
}

.intro {
    background-color: #080f27;
    padding-bottom: 110px;
}

.intro-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main .intro-description::before {
  content: "";
  position: absolute;
  background-image: url("../img/bg-intro.svg");
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  top: 55px;
  left: 768px;
}

.intro-description {
  position: relative;
  max-width: 670px;
}

.main .intro-description .intro-title {
  font-size: 82px;
  font-weight: 800;
  line-height: 125%;
}

.main .intro-description .btn {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 275px;
  height: 60px;
  color: #080f27;
  background-color: #7f9ff4;
  border-color: #7f9ff4;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
}

.main .intro-description .btn:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 3px #7f9ff4;
}

.main .intro-description .btn:active {
  transform: scale(0.95);
}

.main .intro .intro-socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main .intro .intro-socials-link {
  margin-right: 25px;
}

.main .intro .intro-socials-link img {
  transition: transform 0.1s, opacity 0.3s;
}

.main .intro .intro-socials-link:hover img {
  transform: scale(1.3);
}

.main .intro .intro-socials-link:active img {
  opacity: 0.7;
}

.block {
    color: #080F27;
}

.block-title {
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    width: 612px;
    margin: 0 auto;
    margin-top: 66px;
    padding-bottom: 130px;
}

.cookie-notice {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #080f27;
  z-index: 100;
  transition: opacity 0.38s;
}

.cookie-notice .cookie-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.cookie-notice .cookie-text {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.cookie-notice .cookie-text a {
  color: #fff;
  transition: all 0.3s;
}

.policy {
  transition: all 0.3s;
}

.policy:hover {
  opacity: 0.7;
}

.policy:active {
  opacity: 0.5;
}

.cookie-buttons {
  display: flex;
  align-items: center;
}

.cookie-notice .cookie-accept {
  width: 116px;
  height: 33px;
  font-size: 14px;
  color: #080f27;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #fff;
  border-radius: 50px;
  border-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.cookie-notice .cookie-accept:hover {
  box-shadow: 0px 0px 6px 3px #7f9ff4;
}

.cookie-notice .cookie-accept:active {
transform: scale(0.95);
}

.cookie-notice .cookie-close {
  position: relative;
  width: 17px;
  height: 17px;
  left: 20px;
  background-image: url("../img/close-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s;
}

.cookie-notice .cookie-close:hover {
    opacity: 0.5;
}

.cookie-notice .cookie-close:active {
  transform: scale(0.95);
}
