.page {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    min-width: 1440px;
    margin: 0;
    color: #2F3250;
    background-color: #FCFCFC;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.header {
    background-image: url("../img/main-page/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 805px;
}

.header-nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding: 30px 0;
}

.logo {
    display: flex;
    transition: opacity 0.28s;
}

.logo:hover {
    opacity: 0.7;
}

.logo:active {
    opacity: 0.5;
}

.header-nav__site-nav {
    margin-left: 65px;
}

.site-nav {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
}

.site-nav__item:not(:last-of-type) {
    margin-right: 30px;
}

.site-nav__link {
    color: #2F3250;
    text-decoration: none;
    transition: opacity 0.28s;
}

.site-nav__link:hover {
    opacity: 0.7;
}

.site-nav__link:active {
    opacity: 0.5;
}

.site-nav__link--active {
    color: #4A5FCF;
    border-bottom: 1px solid #4D66EC;
    padding-bottom: 3px;
}

.site-nav__link--sale {
    text-transform: uppercase;
    color: #FB0F39;
}

.user-nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.user-nav__item {
    position: relative;
}

.user-nav__item:not(:last-of-type) {
    margin-right: 25px;
}

.user-nav__img {
    margin-right: 10px;
}

.user-nav__link {
    display: flex;
    align-items: center;
    color: #2F3250;
    text-decoration: none;
    transition: opacity 0.28s;
}

.user-nav__link:hover {
    opacity: 0.7;
}

.user-nav__link:active {
    opacity: 0.5;
}

.header__sale-intro {
    margin-top: 140px;
}

.sale-intro__title {
    width: 550px;
    line-height: 76px;
    color: #4A5FCF;
    margin: 0;
}

.intro-title {
    font-family: 'Prosto One', cursive;
    font-size: 76px;
    font-weight: 400;
}

.sale-intro__desc {
    font-size: 22px;
    line-height: 31px;
    margin-top: 20px;
    margin-bottom: 0;
}

.sale-intro__link {
    margin-top: 55px;
    padding: 16px 34px;
}

.btn {
    display: inline-block;
    font-weight: 500;
    border: 1px solid #4D66EC;
    background-color: #4D66EC;
    text-decoration: none;
    color: #FCFCFC;
    cursor: pointer;
    transition: opacity 0.28s;
}

.btn:hover {
    opacity: 0.85;
}

.btn:active {
    opacity: 0.65;
}

.btn--primary {
    background-color: white;
    color: #2F3250;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 47px;
}

.headline__title {
    font-family: 'Prosto One', cursive;
    font-size: 34px;
    font-weight: 400;
    margin: 0;
}

.headline__link {
    font-size: 16px;
    font-weight: 500;
    color: #2F3250;
    text-decoration: none;
    border-bottom: 1px solid #4D66EC;
    transition: opacity 0.22s;
}

.headline__link:hover {
    opacity: 0.7;
}

.headline__link:active {
    opacity: 0.5;
}

.catalog {
    padding-top: 115px;
    padding-bottom: 120px;
}

.catalog__list {
    margin: 0;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.catalog-item {
    width: 278px;
}

.catalog-item__main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 12px;
}


.catalog-item__interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 22px;
}

.catalog-item__btn-link {
    padding: 10px 28px;
}

.catalog--grey-bg {
    background-color: #F5F8FC;
}

.blog {
    background-color: #F5F8FC;
    padding-top: 113px;
    padding-bottom: 117px;
}

.blog__list {
    margin: 0;
}

.blog-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.blog-item {
    width: 380px;
}

.blog-item__title {
    font-family: 'Prosto One', cursive;
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 0;
}

.blog-item__text {
    line-height: 24px;
    color: #404254;
    margin-top: 13px;
    margin-bottom: 0;
    height: 120px;
    width: 385px;
}

.blog-item__btn-link {
    font-size: 14px;
    padding: 9.5px 19px;
    margin-top: 25px;
}

.reviews {
    padding-top: 117px;
}

.reviews-list {
    display: flex;
    border-top: 1px solid #E0E2EC;
	border-left: 1px solid #E0E2EC;
}

.reviews-list__item {
    margin: 0;
}

.review-item {
    border-right: 1px solid #E0E2EC;
	border-bottom: 1px solid #E0E2EC;
    padding: 29px;
}

.review-item__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar__name {
    font-size: 18px;
    font-weight: 500;
    margin-left: 12px;
}

.review-item__time {
    font-size: 14px;
    color: rgba(64, 66, 84, 0.3);
}

.review-item__message {
    font-size: 16px;
    line-height: 24px;
    width: 347px;
    margin-top: 15px;
    margin-bottom: 0;
}

.page__footer {
    margin-top: 118px;
}

.footer {
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-top: 1px solid #E0E2EC;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-top: 5px;
}

.footer__contacts {
    margin-top: 29px;
}

.contacts-list {
    list-style-type: none;
    padding: 0;
}

.contacts-list__item:not(:last-of-type) {
    margin-bottom: 15px;
}

.contacts-list__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #404254;
    text-decoration: none;
    transition: opacity 0.25s;
}

.contacts-list__address {
    display: flex;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

.contacts-list__link--phone::before {
    content: "";
    background-image: url("../img/icons/phone-icon.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.contacts-list__link--email::before {
    content: "";
    background-image: url("../img/icons/email-icon.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 9px;
    margin-right: 8px;
}

.contacts-list__address--map::before {
    content: "";
    background-image: url("../img/icons/map-icon.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 12px;
    margin-right: 2px;
    margin-top: 5px;
}

.contacts-list__link:hover {
    opacity: 0.7;
}

.contacts-list__link:active {
    opacity: 0.5;
}

.footer__nav {
    margin-left: 97px;
    margin-right: 93px;
}

.footer-nav {
    display: flex;
    min-width: 500px;
}

.footer-nav__column:not(:last-of-type) {
    margin-right: 105px;
}

.footer-nav__category {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-nav__list {
    margin: 0;
}

.footer-nav-list {
    padding: 0;
    list-style-type: none;
}

.footer-nav-list__item:not(:last-of-type) {
    margin-bottom: 13px;
}

.footer-nav-list__link {
    color: #404254;
    text-decoration: none;
    transition: opacity 0.25s;
}

.footer-nav-list__link:hover {
    opacity: 0.7;
}

.footer-nav-list__link:active {
    opacity: 0.5;
}

.footer__subscribe {
    position: relative;
}

.subscribe__decription {
    display: inline-block;
    max-width: 380px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 21px;
}

.subscribe__email {
    padding-left: 15px;
    width: 361px;
    height: 45px;
    background-color: #FCFCFC;
    border: 1px solid #E0E2EC;
}

.send-email {
    position: absolute;
    right: 24px;
    bottom: 17px;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: opacity 0.25s;
}

.send-email:hover {
    opacity: 0.7;
}

.send-email:active {
    opacity: 0.5;
}

.subscribe__email::placeholder {
    font-size: 14px;
    color: rgba(47, 50, 80, 0.3);
}

.footer__payment {
    margin-top: 55px;
}

.payment {
    display: flex;
    align-items: center;
}

.payment__category {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 34px;
}

.payment__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.payment-list__item {
    display: flex;
}

.payment-list__item:not(:last-of-type) {
    margin-right: 15px;
}

.footer__social {
    margin-top: 89px;
    margin-bottom: 0;

}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.social-list::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E0E2EC;
    margin-right: 60px;
}

.social-list::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E0E2EC;
    margin-left: 60px;
}

.social-list__item:not(:last-of-type) {
    margin-right: 15px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    text-decoration: none;
    color: #E0E2EC;
    border: 1px solid #E0E2EC;
    transition: opacity 0.27s;
}

.social-list__link:hover {
    opacity: 0.5;
}

.social-list__link:active {
    opacity: 0.4;
}

.footer__link {
    font-size: 12px;
    color: rgba(47, 50, 80, 0.4);
    text-decoration: none;
    transition: opacity 0.28s;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__link:active {
    opacity: 0.5;
}

/* Blog page */

.page--blog-page .header {
    background-image: url(../img/blog-page/header-bg.png);
    height: 555px;
}

.logo--theme-light {
    fill: white;
}

.site-nav--theme-light .site-nav__link {
    color: #CACDE0;
}

.site-nav--theme-light .site-nav__link--active {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.site-nav--theme-light .site-nav__link--sale {
    color: #F46780;
}

.user-nav--theme-light .user-nav__img {
    fill: #FCFCFC;
}

.user-nav--theme-light .user-nav__link {
    color: #CACDE0;
}

.user-nav__link--items-quantity {
    display: flex;
    position: relative;
}

.user-nav__link--items-quantity::after {
    position: absolute;
    top: -8px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #4D66EC;
    color: #FCFCFC;
    border-radius: 50%;
}

.favorite-quantity::after {
    content: "7";
}

.order-quantity::after {
    content: "2";
}

.header__blog-intro {
    margin-top: 80px;
}

.blog-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-intro__title {
    width: 730px;
    line-height: 84px;
    text-align: center;
    color: #FCFCFC;
    margin: 0;
}

.blog-intro__desc {
    font-size: 22px;
    line-height: 31px;
    color: #CACDE0;
    margin-top: 20px;
    margin-bottom: 0;
}

.main-article {
    padding-top: 80px;
    padding-bottom: 64px;
}

.main-article-wrapper {
    display: flex;
}

.aside-content__advertisment {
    margin-bottom: 40px;
}

.advertisment {
    width: 210px;
    text-align: center;
    background-repeat: no-repeat;
}

.advertisment-trend {
    padding-top: 1px;
    background-image: url("../img/advertisment/advertisment-bg-1.png");
    height: 324px;
}

.advertisment-trend__title {
    font-family: 'Prosto One', cursive;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 0;
}

.advertisment-trend__desc {
    font-size: 12px;
    line-height: 18px;
    margin-top: 7px;
}

.advertisment-trend__img {
    margin-top: 5px;
}

.advertisment-trend__link {
    position: relative;
    bottom: 9px;
}

.small-logo {
    transition: opacity 0.28s;
}

.small-logo:hover {
    opacity: 0.7;
}

.small-logo:active {
    opacity: 0.5;
}

.advertisment-sale {
    background-image: url("../img/advertisment/advertisment-bg-2.png");
    height: 361px;
}

.advertisment-sale__header {
    display: flex;
    justify-content: space-between;
}

.advertisment-sale__header-text {
    font-family: 'Prosto One', cursive;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #B4BEF9;
}

.advertisment-sale__img {
    margin-left: 10px;
}

.advertisment-sale__desc {
    font-family: 'Prosto One', cursive;
    font-size: 16px;
    line-height: 19px;
    width: 182px;
    color: #4D66EC;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
}

.advertisment-sale__link {
    font-size: 12px;
    padding: 10px 37px;
}

.main-article__raw-content {
    margin-left: 105px;
}

.raw-content {
    width: 690px;
}

.raw-content__intro {
    margin-bottom: 67px;
}

.raw-content__intro-header {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 0;
}

.raw-content__intro-text {
    font-size: 18px;
    line-height: 27px;
    color: #404254;
    margin-top: 30px;
    margin-bottom: 0;
}

.article-section {
    margin-bottom: 55px;
}

.article-section__title {
    font-family: "Prosto one", cursive;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 28px;
    margin-left: 5px;
}

.article-section__text {
    font-size: 18px;
    line-height: 27px;
    color: #404254;
    margin-bottom: 25px;
}

.article-section__figure {
    margin: 0;
}

.article-section__figure-figcaption {
    font-size: 14px;
    line-height: 21px;
    color: #404254;
    margin-top: 5px;
}

.article-section__accent-text {
    margin-top: 0;
    margin-bottom: 25px;
}

.accent-text {
    display: inline-block;
    font-family: 'Prosto One', cursive;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 19px 0;
    width: 100%;
    color: #4D66EC;
    border-top: 1px solid #4D66EC;
    border-bottom: 1px solid #4D66EC; 
}

.accent-text__content {
    display: inline-block;
    width: 575px;
    font-style: normal;
    margin-left: 7px;
}

.quote-block {
    display: flex;
}

.quote-block__aside-quote {
    margin-top: 0;
    margin-right: 0;
}


.aside-quote::before {
    content: url("../img/blog-page/left-line.svg");
    position: relative;
    top: -10px;
}

.aside-quote::after {
    content: url("../img/blog-page/right-line.svg");
    position: relative;
    top: 10px;
    left: 170px;
}

.aside-quote__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 16px;
}

.aside-quote__author {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
}

.article-section__main-quote {
    margin: 0;
    margin-top: 62px;
}

.main-quote {
    background-image: url("../img/blog-page/quote-bg.png");   
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
}

.main-quote__text {
    font-family: "Prosto one", cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #FCFCFC;
    margin-top: 0;
    margin-bottom: 15px;
}

.main-quote__author {
    font-size: 14px;
    font-style: normal;
    line-height: 21px;
    color: #CACDE0;
}